.app.window-app.tgce-restyler-5e3 {
  min-width   : 650px;
  max-width   : 650px;
  min-height  : 700px;  
}

.tgce-restyler-5e3 .window-content {
  padding: 0px;
}

.tgce-restyler-5e3 .tgce-app-form.tgce-dark {
  background: #191813;
  color: #9f9275; 
}

.tgce-restyler-5e3 .tgce-app-form{
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tgce-restyler-5e3 .text {
  width: 75px;
}

.tgce-restyler-5e3 .text.tgce-dark {
  background: #413e34;
  color: #cfd2da; 
}

.tgce-restyler-5e3 .config-info {
  display: flex;
  font-size: x-small;
  justify-content: left;
  padding-left: 50px;
  padding-right: 50px;
}

.tgce-restyler-5e3 .middle-section {
  flex-grow: 1; 
  overflow-x: hidden;
  overflow-y: auto;
}

.tgce-restyler-5e3 .button-group {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  max-height: 100px;
  max-width: 99%;
}

.tgce-restyler-5e3 .bottom-button {
  border: groove;  
  border-color: darkred;
  border-radius: 10px;
  max-width: 200px;
}

.tgce-restyler-5e3 .bottom-button.tgce-dark {
  color: #cfd2da; 
}

.tgce-restyler-5e3 .flex-row {
  display: flex;
  height: 30px;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
}

.tgce-restyler-5e3 .flex-row-divider2 {
  display: flex;
  padding: 2px;
}

.tgce-restyler-5e3 .flex-row-divider5 {
  display: flex;
  padding: 5px;
}

.tgce-restyler-5e3 .range {
  width: 150px;
}

.tgce-restyler-5e3 .label.range {
  flex: 1;
  padding-left: 20px;
  color: #55534c;
  text-decoration: underline;
  text-decoration-color: darkred;
}

.tgce-restyler-5e3 .label.range.tgce-dark {
  color: #cfd2da; 
}

.tgce-restyler-5e3 .label {
  flex: 1;
  color: #191813;  
}

.tgce-restyler-5e3 .label.tgce-dark {
  flex: 1;
  color: #9f9275;  
}

.tgce-restyler-5e3 .tgce-logo {    
  border-radius: 10px;
  border-color: darkred;  
}

.tgce-restyler-5e3 .file {
  display: flex;
  align-content: center;
  width: 30px;
  height: 25px;
}

.tgce-restyler-5e3 .fa-folder {
  transform: scale(1.1);
  pointer-events: none;
}

.tgce-restyler-5e3 .fa-trash {
  transform: scale(1.3);
  pointer-events: none;
}

.tgce-restyler-5e3 .imgpath {
  flex-grow: 1;  
}

.tgce-restyler-5e3 .color-picker {
  border: 1px solid black;
  border-radius: 5px;
  align-self: center;
  width: 75px
}

.tgce-restyler-5e3 .color-picker.tgce-dark {
  background: #413e34;
}

.tgce-restyler-5e3 .button {
  width: 40px;
  border: groove;
  border-color: darkred;
  border-radius: 10px;
  transform: scale(.7);
}

.tgce-restyler-5e3 .button.filepick {
  width: 60px; 
}

.tgce-restyler-5e3 .button.tgce-dark {
  color: #cfd2da; 
}

.tgce-restyler-5e3 .section-header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid darkred;
  border-radius: 10px;
}

.tgce-restyler-5e3 .dropdown {
  width: 200px;
}
.tgce-restyler-5e3 .dropdown.tgce-dark {
  color: #cfd2da;
}

.tgce-restyler-5e3 .divider-line {
  border: none;
  border-top: 1px solid black;
  margin: 5px 0;
}

.tgce-restyler-5e3 .option.tgce-dark {
  color: #000000;
}

/*! --- Chat Card Changes --- */
.card-footer.pills .pill.green {
  background-color: var(--dnd5e-color-green);
}
.card-footer.pills .pill.maroon {
  background-color: var(--dnd5e-color-maroon);
}
.card-footer.pills .pill.yellow {
  background-color: #fff017;
  color: var(--dnd5e-color-dark);
  border: solid 2px
}
.card-footer.pills .pill.green, .card-footer.pills .pill.maroon {
  color: var(--color-text-light-0);
}

/*! --- DND5e2 Player Character Sheet Changes ---  */
/**  -- Skills/Tools toggle when in play mode - */
/*?   * Allows for the toggleing between skills/tools on the main page to reduce sheet height*/
.dnd5e2.sheet.actor.character .sheet-body .tab-body .col-2 > .left:has(.hide-skill) .skills,
.dnd5e2.sheet.actor.character .sheet-body .tab-body .col-2 > .left:has(.hide-tool) .tools {
  display: none;
}
.dnd5e2.sheet.actor.character .sheet-body .tab-body .col-2 .swap {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
}

.dnd5e2.sheet.actor.character .sheet-body .tab-body .col-2 > .left {
  position: relative;
}

/**  -- Disable CharSheet2 Close button when Restyler Opened - */
/*?   * Disable the Close button so sheet cannot be closed before Restyler */
.dnd5e2 .window-header .header-button.control.close.disabled {
	pointer-events: none;
	color: red;
	background-color: yellow;
}
